# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/*
/node_modules/**/node_modules
/node_modules/.bin
/node_modules/.pnpm
/node_modules/.pnp*
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.genkit/*
node_modules/.package-lock.json
node_modules/.bin/acorn
node_modules/.bin/cssesc
node_modules/.bin/esbuild
node_modules/.bin/extract-zip
node_modules/.bin/genkit
node_modules/.bin/glob
node_modules/.bin/handlebars
node_modules/.bin/is-docker
node_modules/.bin/jiti
node_modules/.bin/js-yaml
node_modules/.bin/json5
node_modules/.bin/loose-envify
node_modules/.bin/mime
node_modules/.bin/nanoid
node_modules/.bin/next
node_modules/.bin/node-which
node_modules/.bin/patch-package
node_modules/.bin/proto-loader-gen-types
node_modules/.bin/ps-tree
node_modules/.bin/resolve
node_modules/.bin/rimraf
node_modules/.bin/semver
node_modules/.bin/sucrase
node_modules/.bin/sucrase-node
node_modules/.bin/tailwind
node_modules/.bin/tailwindcss
node_modules/.bin/tsc
node_modules/.bin/tsserver
node_modules/.bin/tsx
node_modules/.bin/uglifyjs
node_modules/.bin/uuid
node_modules/.bin/yaml
node_modules/@babel/runtime/package.json
node_modules/@babel/runtime/helpers/interopRequireWildcard.js
node_modules/@babel/runtime/helpers/regeneratorRuntime.js
node_modules/@babel/runtime/helpers/wrapRegExp.js
node_modules/@babel/runtime/helpers/esm/interopRequireWildcard.js
node_modules/@babel/runtime/helpers/esm/regeneratorRuntime.js
node_modules/@babel/runtime/helpers/esm/wrapRegExp.js
node_modules/@esbuild/linux-x64/package.json
node_modules/@esbuild/linux-x64/README.md
node_modules/@esbuild/linux-x64/bin/esbuild
node_modules/@genkit-ai/tools-common/node_modules/.bin/uuid
node_modules/@img/sharp-libvips-linux-x64/package.json
node_modules/@img/sharp-libvips-linux-x64/README.md
node_modules/@img/sharp-libvips-linux-x64/versions.json
node_modules/@img/sharp-libvips-linux-x64/lib/index.js
node_modules/@img/sharp-libvips-linux-x64/lib/libvips-cpp.so.42
node_modules/@img/sharp-libvips-linux-x64/lib/glib-2.0/include/glibconfig.h
node_modules/@img/sharp-libvips-linuxmusl-x64/package.json
node_modules/@img/sharp-libvips-linuxmusl-x64/README.md
node_modules/@img/sharp-libvips-linuxmusl-x64/versions.json
node_modules/@img/sharp-libvips-linuxmusl-x64/lib/index.js
node_modules/@img/sharp-libvips-linuxmusl-x64/lib/libvips-cpp.so.42
node_modules/@img/sharp-libvips-linuxmusl-x64/lib/glib-2.0/include/glibconfig.h
node_modules/@img/sharp-linux-x64/LICENSE
node_modules/@img/sharp-linux-x64/package.json
node_modules/@img/sharp-linux-x64/README.md
node_modules/@img/sharp-linux-x64/lib/sharp-linux-x64.node
node_modules/@img/sharp-linuxmusl-x64/LICENSE
node_modules/@img/sharp-linuxmusl-x64/package.json
node_modules/@img/sharp-linuxmusl-x64/README.md
node_modules/@img/sharp-linuxmusl-x64/lib/sharp-linuxmusl-x64.node
